In [10]:
 import pandas as pd #carga de datos
Df=pd.read_excel('dataset_banco.xlsx')
Df.dtypes #tipo de variables

Cliente_Id              int64
Sexo                   object
Estrato                 int64
Grupo_valor            object
Rango_ingresos_acum     int64
Nivel_estudio          object
Estado_civil           object
Departamento           object
Edad                    int64
Franquicia             object
canal                  object
origen                 object
Monto_transado          int64
Reclamos                int64
cnt_trx_201706          int64
cnt_trx_201707          int64
cnt_trx_201708          int64
cnt_trx_201709          int64
cnt_trx_201710          int64
cnt_trx_201711          int64
cnt_trx_201712          int64
cnt_trx_201801          int64
cnt_trx_201802          int64
cnt_trx_201803          int64
cnt_trx_201804          int64
cnt_trx_201805          int64
cnt_trx_201806          int64
cnt_trx_201807          int64
cnt_trx_201808          int64
cnt_trx_201809          int64
cnt_trx_201810          int64
cnt_trx_201811          int64
cnt_trx_201812          int64
cnt_trx_201901          int64
cnt_trx_201902          int64
cnt_trx_201903          int64
cnt_trx_201904          int64
cnt_trx_201905          int64
cnt_trx_201906          int64
Total_trx               int64
dtype: object

In [11]:
Df.describe() # para describir el dF

,Cliente_Id,Estrato,Rango_ingresos_acum,Edad,Monto_transado,Reclamos,cnt_trx_201706,cnt_trx_201707,cnt_trx_201708,cnt_trx_201709,...,cnt_trx_201810,cnt_trx_201811,cnt_trx_201812,cnt_trx_201901,cnt_trx_201902,cnt_trx_201903,cnt_trx_201904,cnt_trx_201905,cnt_trx_201906,Total_trx
count,4.999000e+03,4999.000000,4.999000e+03,4999.000000,4.999000e+03,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000,...,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000
mean,2.488667e+07,4.949190,1.717833e+10,45.488298,1.511138e+07,2.508102,6.662733,9.476895,8.840368,8.506701,...,6.444689,5.784757,5.521704,4.813563,4.730946,4.531906,4.595119,4.832767,4.324065,166.566513
std,1.435860e+07,0.826857,5.285877e+11,13.718392,1.746218e+07,0.548821,8.453145,11.974004,11.775465,12.393553,...,13.096576,11.920374,11.385804,10.175238,10.458201,10.154180,10.468904,11.807278,10.279809,222.522613
min,2.320600e+04,1.000000,4.500000e+05,25.000000,0.000000e+00,2.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.225448e+07,4.000000,6.900000e+06,34.000000,3.630950e+06,2.000000,2.000000,2.000000,2.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,40.000000
50%,2.517280e+07,5.000000,1.350000e+07,44.000000,9.081903e+06,2.000000,4.000000,5.000000,5.000000,4.000000,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,92.000000
75%,3.738693e+07,6.000000,2.250000e+07,56.000000,1.944527e+07,3.000000,8.000000,12.000000,11.000000,11.000000,...,7.000000,6.000000,6.000000,5.000000,5.000000,4.000000,4.000000,4.000000,4.000000,200.000000
max,4.943001e+07,6.000000,2.168180e+13,111.000000,9.874466e+07,14.000000,101.000000,143.000000,182.000000,202.000000,...,221.000000,207.000000,124.000000,111.000000,135.000000,120.000000,158.000000,185.000000,142.000000,3293.000000

In [12]:
pip install pyod

The following command must be run outside of the IPython shell:

    $ pip install pyod

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more information on how to install packages:

    https://docs.python.org/3/installing/

In [40]:
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.font_manager

Now, we’ll import the models we want to use to detect the outliers in our dataset. We will be using ABOD (Angle Based Outlier Detector) and KNN (K Nearest Neighbors):

In [14]:
from pyod.models.abod import ABOD
from pyod.models.knn import KNN

In [22]:
len(Df)

4999

In [23]:
outliers=[]
def detect_outlier(Df):
    
    threshold=3
    mean_1 = np.mean(Df)
    std_1 =np.std(Df)
    
    
    for y in Df:
        z_score= (y - mean_1)/std_1 
        if np.abs(z_score) > threshold:
            outliers.append(y)
    return outliers

Deteccion de outliers

# Método 1: Interquartile Range Method

In [42]:
# generate gaussian data
from numpy.random import seed
from numpy.random import randn
from numpy import mean
from numpy import std

# calculate interquartile range
q25, q75 = percentile(Df, 25), percentile(Df, 75)
iqr = q75 - q25

NameError: name 'percentile' is not defined