In [1]:
import csv
import pandas as pd
import numpy as np

In [2]:
datosp=pd.read_csv('data_set_modelo.csv',sep=';', index_col=0) #Carga datos
datosp.head()

,Sexo,Estrato,Grupo_valor,Rango_ingresos_acum,Nivel_estudio,Estado_civil,Departamento,Edad,Franquicia,canal,...,cnt_trx_201810,cnt_trx_201811,cnt_trx_201812,cnt_trx_201901,cnt_trx_201902,cnt_trx_201903,cnt_trx_201904,cnt_trx_201905,cnt_trx_201906,Total_trx
Cliente_Id,,,,,,,,,,,,,,,,,,,,,
45653157,F,5,Alto,28500000.0,Especializacion,VIUDO,VALLE DEL CAUCA,79,MASTER,I,...,12,1,0,0,3,0,0,1,0,218
25037319,M,4,Alto,21000000.0,Especializacion,VIUDO,ANTIOQUIA,77,MASTER,P,...,0,0,12,0,0,0,0,0,0,213
48475523,F,4,Medio,3000000.0,Pregrado,VIUDO,BOGOTA D.C.,77,VISA,I,...,2,2,1,2,1,0,4,0,3,57
46339223,F,5,Alto,22500000.0,Pregrado,VIUDO,BOGOTA D.C.,76,AMEX,I,...,16,12,8,2,0,0,0,0,0,165
21539592,F,6,Alto,13500000.0,Especializacion,VIUDO,ANTIOQUIA,76,VISA,P,...,15,0,0,0,0,0,0,0,0,124

In [3]:
Trx=datosp.Total_trx.quantile([0.2,0.4,0.6,0.8,1]).values.tolist()
Monto=datosp.Monto_transado.quantile([0.2,0.4,0.6,0.8,1]).values.tolist()
Rec=datosp.Recency.quantile([0.2,0.4,0.6,0.8,1]).values.tolist()

AttributeError: 'DataFrame' object has no attribute 'Recency'

In [24]:
Frecuency=[]
Money=[]
Rcency=[]

for i in range(0,len(datosp)):
    if np.array(datosp.Total_trx)[i]<=Trx[0]:
        F=1
    elif np.array(datosp.Total_trx)[i]<=Trx[1]:
        F=2
    elif np.array(datosp.Total_trx)[i]<=Trx[2]:  
        F=3
    elif np.array(datosp.Total_trx)[i]<=Trx[3]: 
        F=4
    else:
        F=5
    Frecuency.append(F)

for i in range(0,len(datosp)):
    if np.array(datosp.Monto_transado)[i]<=Monto[0]:
        M=1
    elif np.array(datosp.Monto_transado)[i]<=Monto[1]:
        M=2
    elif np.array(datosp.Monto_transado)[i]<=Monto[2]:  
        M=3
    elif np.array(datosp.Monto_transado)[i]<=Monto[3]:
        M=4
    else:
        M=5
    Money.append(M)
    
for i in range(0,len(datosp)):
    if np.array(datosp.Recency)[i]<=Rec[0]:
        R=5
    elif np.array(datosp.Recency)[i]<=Rec[1]:
        R=4
    elif np.array(datosp.Recency)[i]<=Rec[2]:  
        R=3
    elif np.array(datosp.Recency)[i]<=Rec[3]: 
        R=2
    else:
        R=1
    Rcency.append(R)

datosp['Frecuency']=Frecuency
datosp['Money']=Money
datosp['Rcency']=Rcency

In [26]:
datosp['RFM']=datosp.Frecuency*datosp.Money*datosp.Rcency
datosp.head()

,Cliente_Id,Sexo,Estrato,Grupo_valor,Rango_ingresos_acum,Nivel_estudio,Estado_civil,Departamento,Edad,Franquicia,...,cnt_trx_201903,cnt_trx_201904,cnt_trx_201905,cnt_trx_201906,Total_trx,Recency,Frecuency,Money,Rcency,RFM
1,8408675,M,5,Alto,7500000,Maestria,VIUDO,BOGOTA D.C.,111,AMEX,...,0,0,0,0,135,6,4,2,3,24
2,9705704,M,4,Alto,25500000,Especializacion,VIUDO,BOGOTA D.C.,101,VISA,...,2,1,3,1,88,0,3,3,5,45
3,9661841,M,4,Alto,22500000,Pregrado,VIUDO,BOGOTA D.C.,94,AMEX,...,6,2,3,4,124,0,3,4,5,60
4,7602888,M,6,Alto,36000000,Maestria,SOLTERO,BOGOTA D.C.,92,AMEX,...,1,10,0,0,127,2,4,4,3,48
5,21018130,F,6,Alto,30000000,Maestria,VIUDO,BOGOTA D.C.,92,AMEX,...,0,0,0,1,61,0,2,5,5,50